<header>
  <img src="logo.png" alt="WeAteAt" class="logo">
</header>

<section class="proposition">
  <div class="text-container">
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
    <h2>Facere aut impedit voluptates. Tenetur, beatae voluptatibus laudantium odio provident pariatur nobis accusantium amet expedita, sunt enim ut, labore perferendis sint animi.</h2>
  </div>
  <div class="cta">
    <a href="#">Link</a>
  </div>
  <div class="cta">
    <a href="#">Link</a>
  </div>
</section>

<!-- <section class="newsletter">
  <input type="text" class="input">
  <input type="submit" class="submit">
</section> -->

<!-- guests -->
<section class="how-it-works">
  <article class="step">
    <img src="<%= url('images/icons/browse.png') %>" alt="Browse events">
    <p>Pariatur nobis autem in dolorem ad similique provident maxime explicabo.</p>
  </article>
  <article class="step">
    <img src="<%= url('images/icons/join.png') %>" alt="Join event">
    <p>Quos magnam magni sit id molestias vero velit nobis architecto eum ipsa.</p>
  </article>
  <article class="step">
    <img src="<%= url('images/icons/talk.png') %>" alt="Make friends">
    <p>Est repellendus, sit fugiat quaerat ducimus in!</p>
  </article>
</section>

<!-- hosts -->
<!--
<section class="how-it-works">
  <article class="step">
    <img src="<%= url('images/icons/submit.png') %>" alt="Submit application">
    <p>Pariatur nobis autem in dolorem ad suscipit similique provident maxime explicabo.</p>
  </article>
  <article class="step">
    <img src="<%= url('images/icons/create.png') %>" alt="Create food">
    <p>Quos magnam magni sit id molestias vero quo veniam velit nobis architecto eum ipsa.</p>
  </article>
  <article class="step">
    <img src="<%= url('images/icons/paid.png') %>" alt="Get paid">
    <p>Est repellendus, sit fugiat quaerat ducimus in!</p>
  </article>
</section>
-->

<section class="events">
  <article class="event">
    <img src="event.jpg" alt="Event">
    <h1>Event</h1>
    <p>Aperiam mollitia recusandae ex illo deleniti consequatur consectetur veniam nulla</p>
  </article>
  <article class="event">
    <img src="event.jpg" alt="Event">
    <h1>Event</h1>
    <p>Assumenda reprehenderit voluptates quod iusto odit a consequatur cum, laudantium.</p>
  </article>
  <article class="event">
    <img src="event.jpg" alt="Event">
    <h1>Event</h1>
    <p>Quae doloribus ipsum at nihil, ullam voluptatibus omnis.</p>
  </article>
</section>
