<section class="events">
  <div class="container">
    <a name="events"></a>
    <h1>Upcoming events</h1>

    <% @events.each do |event| %>
      <article class="event">
        <a href="<%= event.event_url %>" title="<%= event.name %>">
          <img src="<%= event.photo_url %>" alt="<%= event.name %>">
          <h2><%= event.name %></h2>

          <div class="details">
            <span class="date"><%= event.date %></span>
            <span class="price"><%= event.fee %></span>
          </div>

          <p>
            <%= event.description %>
          </p>

          <% if !event.venue.empty? %>
            <p>
              <%= event.venue %>
            </p>
          <% end %>
        </a>
      </article>
    <% end %>
  </div>
</section>
