<section class="how-it-works">
  <%# CSS active class ? %>
  <div class="label-container">
    <label class="guests" for="guests">Guests</label>
    <label class="hosts" for="hosts">Hosts</label>
  </div>

  <div class="content-container">
    <input type="radio" id="guests" name="how-it-works" class="toggle" checked>
    <div class="togglable-content">
      <article class="step">
        <div class="content">
          <div class="image-container">
            <img src="<%= url('images/icons/browse.png') %>" alt="Find an event">
          </div>
          <p>Discover delicious meals by hosts who love cooking</p>
        </div>
      </article>
      <article class="step">
        <div class="content">
          <div class="image-container">
            <img src="<%= url('images/icons/join.png') %>" alt="Join a table">
          </div>
          <p>Book your seat and wait for the location to be revealed</p>
        </div>
      </article>
      <article class="step">
        <div class="content">
          <div class="image-container">
            <img src="<%= url('images/icons/talk.png') %>" alt="Make new friends">
          </div>
          <p>Show up for a fun and memorable evening!</p>
        </div>
      </article>
    </div>

    <input type="radio" id="hosts" name="how-it-works" class="toggle">
    <div class="togglable-content">
      <article class="step">
        <div class="content">
          <div class="image-container">
            <img src="<%= url('images/icons/submit.png') %>" alt="Introduce yourself">
          </div>
          <p>Submit your application and begin listing events for free</p>
        </div>
      </article>
      <article class="step">
        <div class="content">
          <div class="image-container">
            <img src="<%= url('images/icons/create.png') %>" alt="Let the cooking begin">
          </div>
          <p>Design your menus and prepare to host</p>
        </div>
      </article>
      <article class="step">
        <div class="content">
          <div class="image-container">
            <img src="<%= url('images/icons/paid.png') %>" alt="Get paid!">
          </div>
          <p>Money in your account within 24hrs after your events</p>
        </div>
      </article>
    </div>
  </div>

  <script>
    $('label[for="guests"]').addClass('active');
    $('.toggle').change(function(e) {
      var $labels = $('.how-it-works label');
      $labels.removeClass('active');
      $labels.filter('label[for="'+e.target.id+'"]').addClass('active');
    });
  </script>
</section>
